:root {
    --first-color: rgb(239, 239, 239);
    --second-color: rgba(48, 197, 255, 1);
    --third-color: rgba(255 183 73);
    --bg-color: rgba(23, 24, 28, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

.header {
    padding: 10px 30px;
}

.header .title {
    font-size: 40px;
    font-weight: 800;
}

.footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
