:root {
    --first-color: rgb(239, 239, 239);
    --second-color: rgba(48, 197, 255, 1);
    --third-color: rgba(255 183 73);
    --bg-color: rgba(23, 24, 28, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    color: var(--first-color);
    background: var(--bg-color);
    font-family: sans-serif;
}

.header {
    position: sticky;
    top: 0;
    padding: 10px 30px;
    background: var(--bg-color);
    z-index: 1;
}

.header .title {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
}

.footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--first-color);
}

.footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;
}
