:root {
    --main-font: "Montserrat";
    --primary-color: #ff4646;
    --primary-color-10: rgba(255, 70, 70, 0.1);
    --dark-color: #181c29;
    --static-white: #ffffff;
    --static-white-40: rgba(255, 255, 255, 0.40);
    --static-white-20: rgba(255, 255, 255, 0.20);
    --contemt-bg-color: #ecf3f8;
    --tag-purple-color: #4361ff;
    --tag-pink-color: #ff43f7;
    --tag-green-color: #06a44f;
    --overlay-color: rgba(24, 28, 41, 0.80);
    --space-0: 0px;
    --space-8: 8px;
    --space-12: 12px;
    --space-20: 20px;
    --space-32: 32px;
    --space-60: 60px;

    --semibold-text-weight: 600;

    --header-1-size: 32px;
    --header-1-line-height: 150%;
    --header-1-letter-spasing: 18%;

    --header-2-size: 24px;
    --header-2-line-height: 152%;
    --header-2-letter-spasing: 16%;

    --header-3-size: 16px;
    --header-3-line-height: 152%;
    --header-3-letter-spasing: 8%;

    --header-4-size: 12px;
    --header-4-line-height: 130%;
    --header-4-letter-spasing: 5%;

    --paragraph-text-size: 16px;
    --paragraph-text-line-height: 148%;
    --paragraph-text-letter-spasing: 0%;

    --action-lg-text-size: 24px;
    --action-lg-text-line-height: 152%;
    --action-lg-text-letter-spasing: 16%;

    --action-sm-text-size: 12px;
    --action-sm-text-line-height: 130%;
    --action-sm-text-letter-spasing: 5%;

    --slider-text-size: 80px;
    --slider-text-line-height: auto;
    --slider-text-letter-spasing: 0%;

    --caption-text-font: "Allura";
    --caption-text-size: 24px;
    --caption-text-line-height: 100%;
    --caption-text-letter-spasing: 5%;

    --static-width: 1440px;
}

body,
html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font), sans-serif;
    color: var(--dark-color);
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--static-white);
    scroll-behavior: smooth;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: var(--static-width);
    height: 64px;
    padding: 0 var(--space-8);
}

.header__nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1276px;
    height: 100%
}

.nav__logo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    padding: var(--space-8) var(--space-20);
    column-gap: var(--space-8);
    user-select: none;
}

.logo__image {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.logo__text {
    position: relative;
    font-size: var(--action-sm-text-size);
    letter-spacing: var(--action-sm-text-letter-spasing);
    line-height: var(--action-sm-text-line-height);
    font-weight: var(--semibold-text-weight);
}

.logo:hover {
    cursor: pointer;
}


.nav__links {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}
.menu__list {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: var(--space-8);
    list-style-type: none;
}

.menu__item {
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: var(--space-12) var(--space-20);
    font-size: var(--action-sm-text-size);
    letter-spacing: var(--action-sm-text-letter-spasing);
    line-height: var(--action-sm-text-line-height);
    font-weight: var(--semibold-text-weight);
    border-radius: 12px;
    transition:
            color 0.25s ease-out,
            background-color 0.25s ease-out;
}

.menu__item:hover {
    cursor: pointer;
    background-color: var(--primary-color-10);
    color: var(--primary-color);
    transition:
            color 0.15s ease-in,
            background-color 0.15s ease-in;
}
