:root {
    --main-font: "Montserrat";
    --primary-color: #ff4646;
    --primary-color-10: rgba(255, 70, 70, 0.1);
    --dark-color: #181c29;
    --static-white: #ffffff;
    --static-white-40: rgba(255, 255, 255, 0.40);
    --static-white-20: rgba(255, 255, 255, 0.20);
    --contemt-bg-color: #ecf3f8;
    --tag-purple-color: #4361ff;
    --tag-pink-color: #ff43f7;
    --tag-green-color: #06a44f;
    --overlay-color: rgba(24, 28, 41, 0.80);
    --space-0: 0px;
    --space-8: 8px;
    --space-12: 12px;
    --space-20: 20px;
    --space-32: 32px;
    --space-60: 60px;

    --semibold-text-weight: 600;

    --header-1-size: 32px;
    --header-1-line-height: 150%;
    --header-1-letter-spasing: 0.18em;

    --header-2-size: 24px;
    --header-2-line-height: 152%;
    --header-2-letter-spasing: 0.16em;

    --header-3-size: 16px;
    --header-3-line-height: 152%;
    --header-3-letter-spasing: 0.08em;

    --header-4-size: 12px;
    --header-4-line-height: 130%;
    --header-4-letter-spasing: 0.05em;

    --paragraph-text-size: 16px;
    --paragraph-text-line-height: 148%;
    --paragraph-text-letter-spasing: 0;

    --action-lg-text-size: 24px;
    --action-lg-text-line-height: 152%;
    --action-lg-text-letter-spasing: 0.16em;

    --action-sm-text-size: 12px;
    --action-sm-text-line-height: 130%;
    --action-sm-text-letter-spasing: 0.05em;

    --slider-text-size: 80px;
    --slider-text-line-height: auto;
    --slider-text-letter-spasing: 0;

    --caption-text-font: "Allura";
    --caption-text-size: 24px;
    --caption-text-line-height: 100%;
    --caption-text-letter-spasing: 0.05em;

    --static-width: 1440px;
}


.header-1 {
    font-size: var(--header-1-size);
    font-weight: var(--semibold-text-weight);
    letter-spacing: var(--header-1-letter-spasing);
    line-height: var(--header-1-line-height);
}
.header-2 {
    font-size: var(--header-2-size);
    font-weight: var(--semibold-text-weight);
    letter-spacing: var(--header-2-letter-spasing);
    line-height: var(--header-2-line-height);
}
.header-3 {
    font-size: var(--header-3-size);
    font-weight: var(--semibold-text-weight);
    letter-spacing: var(--header-3-letter-spasing);
    line-height: var(--header-3-line-height);
}
.header-4 {
    font-size: var(--header-4-size);
    font-weight: var(--semibold-text-weight);
    letter-spacing: var(--header-4-letter-spasing);
    line-height: var(--header-4-line-height);
}
.paragraph-text {
    font-size: var(--paragraph-text-size);
    letter-spacing: var(--paragraph-text-letter-spasing);
    line-height: var(--paragraph-text-line-height);
}
.action-lg-text {
    font-size: var(--action-lg-text-size);
    font-weight: var(--semibold-text-weight);
    letter-spacing: var(--action-lg-text-letter-spasing);
    line-height: var(--action-lg-text-line-height);
}
.action-sm-text {
    font-size: var(--action-sm-text-size);
    font-weight: var(--semibold-text-weight);
    letter-spacing: var(--action-sm-text-letter-spasing);
    line-height: var(--action-sm-text-line-height);
}
.slider-text {
    font-size: var(--slider-text-size);
    font-weight: var(--semibold-text-weight);
    letter-spacing: var(--slider-text-letter-spasing);
    line-height: var(--slider-text-line-height);
}
.caption-text {
    font-family: var(--caption-text-font), sans-serif;
    font-size: var(--caption-text-size);
    letter-spacing: var(--caption-text-letter-spasing);
    line-height: var(--caption-text-line-height);
}


body,
html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font), sans-serif;
    color: var(--dark-color);
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--static-white);
    scroll-behavior: smooth;
    user-select: none;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: var(--static-width);
    height: 64px;
    padding: 0 var(--space-8);
}

.header__nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1276px;
    height: 100%
}

.nav__logo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    padding: var(--space-8) var(--space-20);
    column-gap: var(--space-8);
}

.logo__image {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.logo__text {
    position: relative;
}

.logo:hover {
    cursor: pointer;
}


.nav__links {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}
.menu__list {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: var(--space-8);
    list-style-type: none;
    text-transform: uppercase;
}

.menu__item {
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: var(--space-12) var(--space-20);
    border-radius: 12px;
    transition:
            color 0.25s ease-out,
            background-color 0.25s ease-out;
}

.menu__item:hover {
    cursor: pointer;
    background-color: var(--primary-color-10);
    color: var(--primary-color);
    transition:
            color 0.15s ease-in,
            background-color 0.15s ease-in;
}


#main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: var(--static-width);
    background-color: var(--primary-color);
    background-image: url("../images/content/bg-snow.png");
    background-size: contain;
    background-repeat: repeat;
    border-radius: 20px;
    height: 5000px;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: var(--space-60) var(--space-8);
    background: url("../images/content/bg-ball.png") center no-repeat;
    background-size: 100%;
}

.hero--container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    max-width: 426px;
    height: fit-content;
    padding: var(--space-60) 0;
    row-gap: var(--space-12);
}

.hero__caption {
    color: var(--static-white);
}
.hero__header--1 {
    text-align: center;
    text-transform: uppercase;
    color: var(--static-white);
}

.hero__button {
    text-transform: uppercase;
    padding: var(--space-20) var(--space-32);
    border: none;
    border-radius: 20px;
    color: var(--static-white);
    background-color: var(--dark-color);
    transition:
            color 0.2s ease-in,
            background-color 0.2s ease-in;
}

.hero__button:hover {
    cursor: pointer;
    color: var(--dark-color);
    background-color: var(--static-white);
    transition:
            color 0.15s ease-in,
            background-color 0.1s ease-in;
}

.about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--space-60) var(--space-8);
}

.card--about {
    position: relative;
    width: 100%;
    max-width: 1276px;
    height: fit-content;
    border-radius: 20px;
    background-color: var(--static-white);
}

.card--about__container {
    position: relative;
    display: flex;
    flex-direction: row;
}

.card--about__text--container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 0 var(--space-60);
}

.card--about__text {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: var(--space-20);
    padding: var(--space-60) 0;
    width: fit-content;
    max-width: 426px;
}

.card--about__caption {
    color: var(--primary-color);
}

.card--about__text h2 {
    text-transform: uppercase;
}

.card--about__image--container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 528px;
    border-radius: 20px;
    overflow: hidden;
}

.slider {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--space-60) var(--space-8);
}

.slider--container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--space-20);
    width: 100%;
    max-width: 1276px;
}

.slider__top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: var(--space-12);
    width: 100%;
    max-width: 426px;
    height: fit-content;
}

.slider__caption {
    color: var(--static-white);
}

.slider__header {
    text-transform: uppercase;
    color: var(--static-white);
}

.slider__carousel {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #4361ff;
}

