:root {
    --desktop-width: 1440px;
    --primary-bg-color: #e1d5c4;
    --space-0: 0;
    --space-8: 8px;
    --space-16: 16px;
    --space-24: 24px;
    --space-32: 32px;
    --space-48: 48px;
}

*,
html,
body {
    gap: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", serif;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}

.top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100dvh;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: var(--desktop-width);
    padding: var(--space-8);
    background-color: var(--primary-bg-color);
    overflow: auto;
    height: 100%
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: var(--space-32);
    flex-grow: 1;
    width: 100%;
}

.main__header_text {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
}

.main__bottom_section {
    transform: rotate(-48deg) skew(20deg, 21deg);
    transition: transform 0.25s ease-in-out;
}

.main__button {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    min-height: 64px;
    border-radius: 32px;
    background-color: #f5f5f5;
    font-size: 1.6rem;
    border: 1px solid #dbd4cc;
    box-shadow: -6px 8px 8px 2px #d3c1aa,
                inset 6px -6px 10px -8px rgba(66, 68, 90, .4);
    transition: transform 0.05s ease-in-out, box-shadow 0.05s ease-in-out;
}

.main__rules_section,
.main__settings_section,
.main__play_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow: auto;
}

.settings__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: var(--space-48);
}

.setting__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: var(--space-8);
}

.difficulty__list {
    height: 24px;
    border: none;
    border-radius: 4px;
}

.difficulty__list:focus-visible {
    border: none;
    outline: none;
}

.rules__list {
    margin: var(--space-0) var(--space-24);
}

.rule__item {
    margin: var(--space-16) var(--space-0);
}

.back__button {
    width: 200px;
    min-height: 48px;
    border-radius: 24px;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0 0 0 0 #d3c1aa,
                inset 6px -6px 10px -8px rgba(66, 68, 90, .4);
}

.top__play_section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.top__indicator {
    display: flex;
    flex-direction: row;
    column-gap: var(--space-8);
}

@media (hover: hover) {
    .main__button:hover {
        cursor: pointer;
        background-color: #ffffff;
        transform: translate(-8px, 8px);
        box-shadow: 0 0 0 0 #d3c1aa,
                    inset 6px -6px 10px -8px rgba(66, 68, 90, .4);
        transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }

    .back__button:hover {
        transform: translate(0, 0);
    }
}

/* Tablet screen */
@media screen and (width < 1440px) and (width >= 768px) {

}

/* Mobile screen */
@media screen and (width < 768px) and (width >= 360px) {
    .main__rules_section,
    .main__settings_section,
    .main__play_section {
        align-items: center;
        padding-bottom: var(--space-16);
    }

    .setting__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: var(--space-0);
        row-gap: var(--space-8);
    }

    .main__button {
        box-shadow: 0 8px 8px 2px #d3c1aa,
                    inset 0 -6px 10px -8px rgba(66, 68, 90, .4);
        transition: transform 0.05s ease-in-out, box-shadow 0.05s ease-in-out;
    }

    .main__bottom_section {
        transform: rotate(0) skew(0, 0);
        transition: transform 0.25s ease-in-out;
    }

    .back__button {
        transform: translate(0, 0);
    }

    @media screen and (hover: hover){
        .main__button:hover {
            cursor: pointer;
            background-color: #ffffff;
            transform: translate(0, 4px);
            box-shadow: 0 0 0 0 #d3c1aa,
            inset 0 -6px 10px -8px rgba(66, 68, 90, .4);
            transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
        }
    }
}

/* Extra small screen */
@media screen and (width < 360px) {
    .wrapper {
        display: none;
    }
}