:root {
    --desktop-width: 1440px;
    --primary-bg-color: #e1d5c4;
    --space-0: 0;
    --space-8: 8px;
}

*,
html,
body {
    gap: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", serif;
    font-style: normal;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}

.top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: var(--desktop-width);
    padding: var(--space-0) var(--space-8);
    background-color: var(--primary-bg-color);
    overflow: hidden;
    height: 700px; /* <----- Temporary height */
}