:root {
    --desktop-width: 1440px;
    --primary-bg-color: #e1d5c4;
    --space-0: 0;
    --space-8: 8px;
}

*,
html,
body {
    gap: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}

.top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}