:root {
    --bg-color: #f2f2f2;
    --font-color: #5c5c5c;
    --border-thin: 1px solid #a0a0a0;
    --border-thick: 2px solid #5c5c5c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-weight: 100;
    color: var(--font-color);
    user-select: none;
}


.body {
    background-color: var(--bg-color);
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: none;
    min-height: 70px;
}

.game__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nonograms__table {
    border-collapse: collapse;
}

.table__caption {
    caption-side: top;
    padding: 14px 0;
}

.footer {
    display: none;
    min-height: 50px;
}
