:root {
    --first-color-light: rgb(242, 242, 242);
    --second-color-light: rgba(251, 242, 242, 0.98);
    --third-color-light: rgba(0, 0, 0, 0.15);
    --fourth-color-light: rgba(0, 0, 0, 0.85);

    --first-gray-light: rgba(245, 247, 245, 0.3);
    --second-gray-light: rgba(160, 160, 160, 0.35);
    --third-gray-light: rgb(68, 63, 65);
    --fourth-gray-light: rgba(160, 160, 160, 0.5);

    --first-green-light:  rgb(124, 145, 103);
    --second-green-light: rgb(107, 127, 87);
    --third-green-light:  rgb(92, 102, 71);
    --fourth-green-light: rgb(109, 165, 43);

    --hover-green-light: rgb(223, 231, 209);
    --active-green-light: rgb(214, 221, 200);

    --border-menu: 1px solid var(--second-gray-light);
    --border-thin: 1px solid  var(--third-gray-light);
    --border-thick: 2px solid var(--third-gray-light);
    --cross: 1px solid  var(--third-gray-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    color: var(--third-gray-light);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


.body {
    background-color: var(--first-color-light);
    overflow: hidden;
}

.bg__light:after,
.bg__dark:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/backgrounds/bg_day.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.85;
    z-index: -1;
}

.bg__dark:after {
    background-image: url(../assets/images/backgrounds/bg_night.webp);
    opacity: 0.95;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    column-gap: 14px;
    min-height: 70px;
    padding: 0 24px;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    text-transform: capitalize;
    height: 48px;
    min-width: 48px;
    place-self: center;
    color: var(--third-gray-light);
    text-align: start;
    background-color: var(--second-color-light);
    border: var(--border-menu);
    border-radius: 14px;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
}

.save_button {
    width: fit-content;
    color: var(--first-color-light);
    background-color: var(--first-green-light);
}

.save__button_text,
.repeat__button_text {
    color: inherit;
    pointer-events: none;
}

.random__button_text {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--third-gray-light);
    mask: url('../assets/images/icons/random.svg') no-repeat;
    mask-size: cover;
    transform: rotateX(0);
    transition: transform 0.2s ease-in-out;
    pointer-events: none;
}

.settings__button_text {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--third-gray-light);
    mask: url('../assets/images/icons/settings.svg') no-repeat;
    mask-size: cover;
    transform: rotateZ(0);
    transition: transform 0.2s ease-in-out;
    pointer-events: none;
}

.level__menu * {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.level__menu {
    text-align: center;
    min-width: 160px;
    anchor-name: --menu-anchor;
}

.level__items {
    display: none;
    position: fixed;
    position-anchor: --menu-anchor;
    /*noinspection CssInvalidFunction*/
    top: anchor(--menu-anchor bottom);
    /*noinspection CssInvalidFunction*/
    left: anchor(--menu-anchor left);
    /*noinspection CssInvalidFunction*/
    right: anchor(--menu-anchor right);
    text-transform: none;
    text-align: left;
    border: var(--border-menu);
    border-top: none;
    border-radius: 0 0 14px 14px;
}

.level__items .level__item:last-child {
    border-radius: 0 0 13px 13px;
}

.level__menu_item {
    display: block;
    padding: 0 20px;
    text-decoration: none;
    font-size: 1rem;
    line-height: 48px;
    color: var(--third-gray-light);
    background-color: var(--second-color-light);
    border: var(--border-menu);
    border-radius: 14px;
    z-index: 1;
}

.level__item,
.level__image {
    padding: 16px 20px;
    line-height: 150%;
    color: var(--third-gray-light);
    border-top: var(--border-menu);
    background-color: var(--second-color-light);
}

.level__item {
    anchor-name: --menu-level-anchor;
}

.level__images {
    position: fixed;
    display: none;
    position-anchor: --menu-level-anchor;
    /*noinspection CssInvalidFunction*/
    top: anchor(--menu-level-anchor top);
    /*noinspection CssInvalidFunction*/
    right: anchor(--menu-level-anchor left);
    text-align: left;
    border: var(--border-menu);
    border-radius: 14px 0 14px 14px;
}

.level__images .level__image:first-child {
    border-top: none;
    border-radius: 13px 0 0 0;
}

.level__images .level__image:last-child {
    border-radius: 0 0 13px 13px;
}

.level__menu_item:hover {
    display: block;
    background-color: var(--second-color-light);
    border-bottom: 2px solid var(--second-color-light);
    cursor: default;
    animation-name: levelsButton;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 0.1s;
}

@keyframes levelsButton {
    100% {
        border-radius: 14px 14px 0 0;
    }
}

.level__menu_item:hover > .level__items {
    display: block;
    cursor: default;
    opacity: 0;
    animation-name: menuItems;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
    animation-delay: 0.1s;
}

@keyframes menuItems {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.level__items:hover {
    border-radius: 0 0 14px 0;
}

.level__items:hover .level__item:last-child {
    border-radius: 0 0 13px 0;
}

.level__item:hover > .level__images {
    display: block;
    cursor: pointer;
    opacity: 0;
    animation-name: subMenuItems;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
    animation-delay: 0.15s;
}

@keyframes subMenuItems {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.level__image:hover {
    color: var(--fourth-color-light);
    background-color: var(--hover-green-light);
}

.level__item:hover {
    color: var(--fourth-color-light);
    background-color: var(--hover-green-light);
}

.level__menu_text {
    display: block;
    width: 60%;
    text-align: start;
    place-self: center;
}

.level__menu_text:after {
    position: absolute;
    content: '';
    top: 30%;
    right: 0;
    height: 20px;
    width: 20px;
    font-size: 36px;
    line-height: 0;
    letter-spacing: 0;
    background-color: var(--third-gray-light);
    mask: url('../assets/images/icons/chevron_down.svg') no-repeat;
    mask-size: cover;
    transform: rotateX(0deg);
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
}

.level__menu_item:hover .level__menu_text:after {
    display: block;
    cursor: default;
    transform: rotateX(180deg);
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
}

.game__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    anchor-name: --game-section-anchor;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position-anchor: --game-section-anchor;
    /*noinspection CssInvalidFunction*/
    top: anchor(--game-section-anchor top);
    /*noinspection CssInvalidFunction*/
    right: anchor(--game-section-anchor right);
    width: 400px;
    height: 254px;
    padding: 8px;
    border: var(--border-menu);
    border-radius: 14px 0 0 14px;
    background-color: var(--second-color-light);
    animation-name: hideSidebar;
    animation-delay: 0.1s;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    pointer-events: all;
}

.sidebar__active {
    display: flex;
    width: 0;
    padding: 8px;
    border: var(--border-menu);
    animation-name: showSidebar;
    animation-delay: 0s;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 1;
}

@keyframes hideSidebar {
    0% {
        display: flex;
        width: 400px;
    }

    70% {
        display: none;
    }

    100% {
        width: 0;
        display: none;
    }
}

@keyframes showSidebar {
    0% {
        display: none;
        width: 0;
    }

    100% {
        display: flex;
        width: 400px;
    }
}

.sidebar__container {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    padding: 14px 8px 8px;
    animation-name: hideSideContainer;
    animation-delay: 0s;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes hideSideContainer {
    0% {
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}


.audio__container,
.best__time__container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 18px 14px;
    border: var(--border-menu);
    border-radius: 8px;
}

.audio__setting__container,
.best__time__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.audio__turn__container {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.audio__checkbox {
    appearance: none;
}

.audio__checkbox:after {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    background-color: var(--fourth-gray-light);
    mask: url('../assets/images/icons/unchecked.svg') no-repeat;
    mask-size: cover;
}

.audio__checkbox:checked:after {
    content: '';
    background-color: var(--fourth-green-light);
    mask: url('../assets/images/icons/checked.svg') no-repeat;
    mask-size: cover;
}

.audio__label {
    margin-left: 14px;
}

.audio__volume {
    -webkit-appearance: none;
    border-radius: 7px;
    border: var(--border-menu);
    overflow: hidden;
}

.audio__volume::-webkit-slider-runnable-track {
    height: 12px;
    background: var(--second-gray-light);
    border-radius: 7px;
}

.audio__volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border: 2px solid var(--first-green-light);
    border-radius: 6px;
    background-color: var(--first-color-light);
    box-shadow: -62px 0 0 56px var(--first-green-light);
    cursor: pointer;
}

.settings__container__title,
.time__container__title {
    position: absolute;
    top: 13px;
    left: 44px;
    padding: 0 8px;
    background-color: var(--second-color-light);
}

.best__time__container {
    flex-direction: column;
    justify-content: start;
    padding: 18px 14px 12px 14px;
}

.time__container__title {
    top: 171px;
}

.time__table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--second-color-light);
    border-radius: 4px;
    text-align: center;
}

.time__table_header_cell {
    padding: 0 0 4px 0;
    border-left: var(--border-menu);
}

.time__table_header_cell:first-child {
    padding: 0 0 4px 0;
    border: none;
}

.time__table_win_cell {
    padding: 4px 0;
    border-top: var(--border-menu);;
    border-left: var(--border-menu);
}

.time__table_win_cell:first-child {
    border-left: none;
}

.nonograms__table {
    display: block;
    border-collapse: collapse;
    background-color: var(--second-color-light);
    padding: 36px;
    border: var(--border-thick);
    border-radius: 14px;
}

.table__caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    padding-bottom: 24px;
}

.tips,
.field__cell {
    font-size: 1.2rem;
    border: var(--border-thin);
}

.field__cell {
    font-weight: 100;
    width: 32px;
    height: 32px;
    text-align: center;
    cursor: pointer;
}

.col__tips {
    white-space: pre-wrap;
    text-align: center;
    vertical-align: bottom;
    line-height: 28px;
    padding: 2px 4px 0 4px;
    border-top: var(--border-thick);
    border-bottom: var(--border-thick);
}

.col__tips:nth-child(2) {
    border-left: var(--border-thick);
}

.col__tips:nth-child(5n+1) {
    border-right: var(--border-thick);
}

.row__tips {
    white-space: nowrap;
    text-align: end;
    vertical-align: bottom;
    word-spacing: 4px;
    padding: 4px 8px 4px 12px;
    border-right: var(--border-thick);
    border-left: var(--border-thick);
}

.row__cells:nth-child(3) {
    border-top: var(--border-thick);
}

.row__cells:nth-child(5n+2) {
    border-bottom: var(--border-thick);
}

.field__cell:nth-child(5n+1) {
    border-right: var(--border-thick);
}

.top__tips .col__answer:first-child {
    vertical-align: top;
    padding: 0 8px 8px 0;
}

.show__answer {
    display: block;
    border: var(--border-menu);
    margin: 0 8px 8px 0;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--third-color-light);
    background-color: var(--first-gray-light);
    transition:
            border 0.05s ease-in-out,
            color 0.05s ease-in-out,
            background-color 0.05s ease-in-out;
}

.fill {
    background-color: var(--fourth-color-light);
}

.cross:before,
.cross:after {
    position: absolute;
    display: flex;
    flex-direction: column;
    content: "";
    width: 32px;
    border-bottom: var(--cross);
    transform: rotateZ(45deg);
    z-index: 0;
}

.cross:after {
    transform: rotateZ(-45deg);
}

.footer {
    display: none;
    min-height: 50px;
}

.body:has(.level__menu:hover) main:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--third-color-light);
    pointer-events: none;
}

@media (hover: hover) {
    .header__button:hover {
        background-color: var(--hover-green-light);
        transition: background-color 0.15s ease-in-out;
    }

    .header__button:hover .random__button_text {
        transform: rotateX(180deg);
        transition: transform 0.2s ease-in-out;
    }

    .header__button:hover .settings__button_text {
        transform: rotateZ(45deg);
        transition: transform 0.2s ease-in-out;
    }

    .save_button:hover {
        color: var(--first-color-light);
        background-color: var(--second-green-light);
    }

    .show__answer:hover {
        border: var(--border-menu);
        color: var(--third-gray-light);
        background-color: var(--hover-green-light);
        transition: background-color 0.15s ease-in-out;
    }

    .body:has(.level__image:hover) .level__menu_item {
        pointer-events: all;
    }
}

.header__button:active {
    color: var(--second-color-light);
    background-color: var(--third-green-light);
}

.save_button:active {
    color: var(--first-color-light);
    background-color: var(--third-green-light);
}

.level__image:active {
    background-color: var(--active-green-light);
}

.show__answer:active {
    border: var(--border-menu);
    color: var(--second-color-light);
    background-color: var(--third-green-light);
}

.header__button:active :where(.random__button_text, .settings__button_text) {
    background-color: var(--second-color-light);
}
